<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="sam.css">
    </head>
    <body>
        <h1 style="text-align: center; color:red">LOGIN</h1>
        
        <br/><br/><br/><br/>
       
   <form style="text-align: center;">
    <div class="container">
       <label for="username"  style="font-size: x-large; font-weight: bold;">Username:</label>
       <input type="text" name="username" /><br/><br/><br/><br/>
       <label for="password"  style="font-size: x-large; font-weight: bold;">Password:</label>
       <input type="password" name="password"/><br/>
       <br/><br/><br/>  <br/><br/><br/>
       <button type="submit" class="btn btn-primary">Login </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <button type="reset"  class="btn btn-primary" >Reset</button>
       </div>
   </form>

 
  
</body>
</html>


  
