<html>
    <head>
        <title>Sign up</title>
        <link rel="stylesheet" href="sam.css">
    </head>
    <body>
        <h1 style="text-align: center; color:red">SIGN UP</h1>
        
        <br/><br/>
   <form style="text-align: center;">
    <div class="container">
       <label for="username"  style="font-size: x-large; font-weight: bold;">Username:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <input type="text" name="username" /><br/><br/><br/><br/>
       <label for="password"  style="font-size: x-large; font-weight: bold;">Last name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <input type="password" name="lastname"/><br/><br/><br/><br/>
       <label for="password"  style="font-size: x-large; font-weight: bold;">Email Address:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <input type="password" name="email"/><br/><br/><br/><br/>
       <label for="password"  style="font-size: x-large; font-weight: bold;">Password:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <input type="password" name="password"/><br/><br/><br/><br/>
       <label for="password"  style="font-size: x-large; font-weight: bold;">Contact Number:</label>&nbsp;&nbsp;
       <input type="password" name="contact"/><br/>
       <br/><br/><br/>  
       <button type="submit" class="btn btn-primary">Submit </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <button type="reset"  class="btn btn-primary" >Reset</button>
       </div>
   </form>
 
</body>
</html>